@model SistemaDealer1.Models.Vehiculo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Combustible.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combustible.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmision.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmision.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puertas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puertas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadExistente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadExistente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehiculoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
