@model IEnumerable<SistemaDealer1.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Combustible.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmision.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puertas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadExistente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Combustible.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmision.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puertas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadExistente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehiculoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehiculoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehiculoId })
        </td>
    </tr>
}

</table>
